DJANGO_SECRET_KEY=remplacez-par-une-longue-cle-secrete
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

GEMINI_API_KEY=votre-cle-api-gemini
GEMINI_MODEL=gemini-2.5-flash
CHATBOT_CACHE_TIMEOUT=21600
CHATBOT_CACHE_VERSION=3
